/*VARIABLES*/
/**COLORES**/
/*FUENTES*/
/*Etiquetas*/
html {
  font-size: 62.5%; }

h1.titulo-principal {
  background-color: #1d1e18;
  color: #82DDF0;
  text-align: center;
  font-family: "Chau Philomene One", sans-serif;
  letter-spacing: 2px;
  font-size: 4rem;
  margin-bottom: 0; }

@media (min-width: 768px) {
  h1.titulo-principal {
    background-color: #1d1e18;
    color: #82DDF0;
    text-align: center;
    font-family: "Chau Philomene One", sans-serif;
    letter-spacing: 2px;
    font-size: 6rem;
    margin-bottom: 0; } }

h2 {
  font-family: "Chau Philomene One", sans-serif;
  letter-spacing: 2px;
  color: #5296A5;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase; }

h3 {
  font-family: "Chau Philomene One", sans-serif;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  color: #DB504A;
  margin-bottom: 20px; }

h5 {
  font-size: 1.4rem;
  font-family: "Chau Philomene One", sans-serif; }

@media (min-width: 768px) {
  h5 {
    font-size: 1.6rem;
    font-family: "Chau Philomene One", sans-serif; } }

img {
  max-width: 100%; }

footer {
  margin-top: 80px; }

ol {
  font-size: 1.8rem;
  text-align: center;
  color: #5296A5;
  font-family: "Chau Philomene One", sans-serif;
  list-style: none;
  margin-bottom: 60px; }

ol li {
  margin-bottom: 10px; }

ul {
  font-family: "Chau Philomene One", sans-serif;
  list-style: none;
  color: #5296A5;
  font-size: 1.8rem; }

ul li {
  line-height: 1.6; }

form {
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
  font-family: "Chau Philomene One", sans-serif; }

@media (min-width: 768px) {
  form {
    width: 40%; } }

fieldset {
  margin-bottom: 30px;
  border-radius: 30px;
  min-width: revert;
  padding: revert;
  border: revert; }

legend {
  font-size: 1.8rem;
  color: #DB504A;
  width: revert; }

label {
  font-size: 1.4rem;
  color: #5296A5; }

input, select {
  font-size: revert; }

form p {
  font-size: 1.6rem;
  color: #5296A5; }

option {
  color: #5296A5; }

textarea {
  border: solid 1px #FF6f59;
  border-radius: 30px;
  width: 80%; }

textarea::placeholder {
  text-align: center; }

/*BOOTSTRAP*/
#navbarNavDropdown {
  justify-content: center;
  margin-top: 20px; }

#navbarNavDropdown li a:hover {
  color: #5ea7b7; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #5ea7b7; }

.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
  background-image: url(../images/fondo2.png); }

.dropdown-menu {
  text-align: center;
  font-size: 1.8rem;
  background-image: url(../images/fondo2.png); }

@media (min-width: 768px) {
  .dropdown-menu {
    font-size: 2rem; } }

.navbar-light .navbar-nav .nav-link {
  color: #DB504A; }

/*CARRUSEL*/
#carouselExampleCaptions {
  width: 70%;
  margin: auto; }

@media (min-width: 768px) {
  #carouselExampleCaptions {
    width: 40%;
    margin: auto; } }

.carousel-inner {
  border-radius: 50px; }

.carousel-caption {
  display: block !important;
  background-color: #5296A5;
  opacity: .8;
  border-radius: 20px;
  color: #ffffff; }
  .carousel-caption p {
    font-size: 1.4rem;
    font-family: "Chau Philomene One", sans-serif; }

@media (min-width: 768px) {
  .carousel-caption {
    background-color: #5296A5;
    opacity: .8;
    border-radius: 20px;
    color: #ffffff; }
    .carousel-caption p {
      font-size: 1.6rem;
      font-family: "Chau Philomene One", sans-serif; } }

#carouselExampleCaptions.ancho-carousel {
  width: 30%; }

div.carousel-curso {
  background-color: unset;
  padding-bottom: 110px;
  color: #ffffff;
  opacity: unset; }
  div.carousel-curso h5 {
    display: none; }
  div.carousel-curso p {
    display: none; }

@media (min-width: 768px) {
  div.carousel-curso {
    padding-bottom: 200px; }
    div.carousel-curso h5 {
      display: block; }
    div.carousel-curso p {
      display: block; } }

div.carousel-inner:last-child h5 {
  color: #1d1e18; }

.carousel-indicators li {
  display: none; }

.carousel-img img {
  width: 200px;
  height: 200px; }

@media (min-width: 768px) {
  .carousel-img img {
    width: 300px;
    height: 300px; } }

/*CLASES PROPIAS*/
.container-principal {
  background-image: url(../images/fondo2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

.logo {
  display: block;
  margin: auto; }

.imagenes {
  height: 550px;
  width: 399px;
  margin-bottom: 40px; }

.containerImagenCentrada {
  display: flex;
  justify-content: center;
  margin-top: 60px; }

@media (min-width: 768px) {
  .containerImagenCentrada {
    margin-top: 0; } }

.imagen-curso {
  height: 550px;
  width: 650px;
  margin-bottom: 40px; }

.redes {
  font-size: 5rem;
  text-align: center; }

.redes a {
  text-decoration: none;
  color: #1d1e18;
  margin-right: 10px; }

.redes a:hover {
  color: #5296A5; }

.item__container__parrafos {
  color: #1d1e18;
  font-size: 1.8rem;
  font-family: "Chau Philomene One", sans-serif;
  font-weight: lighter; }

.menu {
  list-style: none;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 2.6rem;
  margin-bottom: 80px; }

@media (min-width: 768px) {
  .menu {
    font-size: 3.6rem; } }

.menu li {
  display: block; }

@media (min-width: 768px) {
  .menu li {
    display: inline-block;
    margin-right: 45px; } }

.menu li a {
  display: block;
  margin-right: 45px;
  text-decoration: none;
  color: #DB504A; }

.menu li a:hover {
  color: #5ea7b7;
  transition: ease-in-out .6s; }

.centrarBoton {
  display: flex;
  justify-content: center; }

.boton {
  font-family: "Caveat", cursive;
  background-color: #DB504A;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 2.6rem;
  margin-top: 60px; }

.boton:hover {
  background-color: #FF6f59;
  transform: rotate(-10deg); }

.boton a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold; }

.item__container__parrafos-boton {
  margin-bottom: 60px; }

.item__container__parrafos-contacto {
  color: #5296A5;
  text-align: center;
  font-size: 3rem; }

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px; }

@media (min-width: 768px) {
  .item {
    flex-direction: row;
    justify-content: space-around; } }

.item__container {
  text-align: center; }

.item__container.item__container-card {
  margin: auto; }

@media (min-width: 768px) {
  .item__container.item__container-card {
    width: 30%;
    padding-top: 30px; } }

/*SOBRE MI*/
.container__botones__sobremi {
  margin-top: 60px;
  display: flex;
  justify-content: center; }

.container__botones__sobremi-boton {
  font-family: "Caveat", cursive;
  background-color: #DB504A;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 2.6rem;
  margin-right: 30px; }

.container__botones__sobremi-boton:hover {
  background-color: #FF6f59;
  transform: scale(1, 1.3);
  transition: all .5s; }

.container__botones__sobremi-boton a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold; }

.sobremi-boton-1 {
  margin-right: 0; }

.container-redes {
  display: flex; }

/*SERVICIOS*/
.servicios {
  background-color: rgba(130, 221, 240, 0.4);
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .servicios {
    width: 20%; } }

.servicios p {
  color: #1d1e18;
  text-align: center;
  list-style: none;
  font-size: 3rem;
  font-family: "Chau Philomene One", sans-serif; }

.servicios i {
  font-size: 3.5rem;
  margin-right: 10px; }

.manejo {
  width: 80%; }

@media (min-width: 768px) {
  .manejo {
    width: 50%; } }

.manejo p {
  font-size: 2.5rem; }

.valor li {
  color: #1d1e18;
  text-align: left;
  list-style: initial;
  font-size: 2rem;
  line-height: 2; }

.container__curso {
  display: flex;
  flex-direction: column;
  align-items: center; }

.cardcurso {
  background-color: rgba(130, 221, 240, 0.4);
  width: 80%;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 768px) {
  .cardcurso {
    width: 30%; } }

.cardcurso li {
  color: #1d1e18; }

.imagen-curso {
  width: 601px;
  height: 450px; }

.container__curso__miniCurso {
  color: #DB504A;
  font-size: 3rem;
  font-family: "Chau Philomene One", sans-serif;
  text-align: center; }

.item__container-card {
  background-color: rgba(130, 221, 240, 0.4);
  width: 80%;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 40px; }

@media (min-width: 768px) {
  .item__container-card {
    width: 40%; } }

.item__container-card li {
  list-style: initial;
  color: #1d1e18; }

/*CURSOS*/
.parrafoCursos {
  color: #DB504A;
  font-size: 1.8rem;
  font-family: "Chau Philomene One", sans-serif;
  text-align: center;
  margin-top: 40px; }

@media (min-width: 768px) {
  .parrafoCursos {
    font-size: 2.5rem; } }

.parrafoCursos:last-of-type {
  margin-top: 0; }

.cursos-chico {
  font-size: 1.6rem; }

@media (min-width: 768px) {
  .cursos-chico {
    display: none; } }

.cursos-grande {
  display: none; }

@media (min-width: 768px) {
  .cursos-grande {
    display: block;
    font-size: 2.5rem; } }

.labelDatos {
  display: flex;
  flex-direction: column; }

.labelDatos label {
  margin-bottom: 10px; }

.labelDatos input {
  margin-bottom: 10px;
  border: solid 1px #FF6f59;
  border-radius: 5px; }

.labelTema {
  display: flex;
  flex-direction: column;
  align-items: center; }

.labelTema input {
  width: 20px;
  height: 20px; }

.botonForm {
  font-family: "Caveat", cursive;
  background-color: #DB504A;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 2.6rem;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px; }

.botonForm:hover {
  transform: skew(10deg, 10deg);
  transition: .5s;
  background-color: #FF6f59; }

.mensaje {
  display: flex;
  justify-content: center; }
